*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Direction section */
.direction .card{
    height: 102%;
}
.about .card img{
    width: 70px;
}
.join img{
    width: 70px;
}
.about .card{
    height: 350px;
}